<body>
<h1><a href="/person/<%= @person.id %>/story/new">Add a new story!</a></h1>
<%@stories.each do |s|  %>
<h1><a href="/person/<%= @person.id %>/story/<%= s.id %>"><%= s.story %></h1>
<p><%= s.park.name %></p>	
<%end%>
</body>

