<body>
<h1>Welcome <%= @person.name %>!</h1>

<body>
<h1>Find a park nearby:</h1>
<form action="/person/<%= @person.id %>/parks_nearby" method="get">
	<input type="text" name="location">
	<input type="submit" value="I wanna pitch my tent!">
</form>

<h1><a href="/person/<%= @person.id %>/story/new">Add a new story!</a></h1>

<h1>Record your favorite parks:</h1>
<form action="/person/<%= @person.id %>/favorite_parks" method="get">
	<select name="park_id">
   	<%Park.all.each do |park|  %>
    <option value="<%= park.id %>"><%= park.name %></option>
   	<% end  %>
	</select>
	<input type="submit" value="Love it!">
</form>

<a href="/person/<%= @person.id %>/edit"> Edit Person</a>
</body>
