<style>
body{	
	background-image:url('http://www.theidboutique.com/wp-content/uploads/2012/02/IMG_3089e.jpg');
	background-repeat: no-repeat;
}
</style>

<script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript" src="../main.js"></script>

<body>
<h1>Welcome <%= @person.name %>!</h1>


<div id="tabbed_interface">	
	<ul>
		<li data-content="find">Find a Park</li>
		<li data-content="story">Write a Story</li>
		<li data-content="favorite">Tell your Favorites</li>
	</ul>
	
  <div id="tab_content">
	  <div id="find">	
		  <h1>Find a park nearby:</h1>
		  <form action="/person/<%= @person.id %>/parks_nearby" method="get">
			  <input type="text" name="location">
			  <input type="submit" value="I wanna pitch my tent!">
		  </form>
  	  </div>
  
  	  <div id="story">
     	  <h1><a href="/person/<%= @person.id %>/story/new">Add a new story!</a></h1>
  	  </div>
  
  	  <div id="favorite">
 	      <h1>Record your favorite parks:</h1>
	 	  <form action="/person/<%= @person.id %>/favorite_parks" method="get">
		 	 <select name="park_id">
   			  <%Park.all.each do |park|  %>
    		  <option value="<%= park.id %>"><%= park.name %></option>
   			  <% end  %>
		     </select>
	 	  <input type="submit" value="Love it!">
         </form>
      </div>
  </div>  
</div>

<a href="/person/<%= @person.id %>/edit"> Edit Person</a>
</body>
