<style>
body{
	background-image: url('http://img2.etsystatic.com/000/0/6145564/il_fullxfull.303692722.jpg');
	color: white;
}
</style>

<body>
<h1><%= @park.name %></h1>
<p><%= @park.address %></p>
<p><%= @park.webaddress %></p>
<%@stories.each do |story| %>
  <% if story.person != nil %>
    <p>Stories about this Park:</p>
    <p>Authored by </p><%= story.person %>
    <p><%= story.story %></p>
  <% end %>
  <p> No stories yet.  YOU should write one!</p>
<% end %>
</body>
